<main class="container">
  <a routerLink="/add" class="ajouterBtn">
    <button mat-flat-button color="accent">
      Ajouter un assignment
    </button>
  </a>
  <h1>Liste des assignments (scrolling infini)</h1>
  <mat-divider></mat-divider>
  
  <cdk-virtual-scroll-viewport #scroller itemSize="50" class="example-viewport" class="example-viewport">
    <mat-list *cdkVirtualFor="let a of assignments">
      <nav>
        <a routerLink="/assignment/{{a.id}}">
          <h3 mat-subheader>{{a.dateDeRendu | date}}</h3>
          <mat-list-item class="example-item">
            <mat-divider></mat-divider>

            <p *ngIf="a.rendu; else nonsoumis" appRendu>
              id matiere {{a.id_matiere}} 
              auteur 
              note {{a.note}} 
              remarques: {{a.remarques}}
              {{a.nom}}, rendu par l'élèveee.
            </p>
            <ng-template #nonsoumis>
              <p appNonRendu>
                id matiere {{a.id_matiere}} 
                auteur 
                note {{a.note}} 
                remarques: {{a.remarques}}
                {{a.nom}} , non encore rendu par l'élèveeee.
              </p>
            </ng-template>

          </mat-list-item>
        </a>
      </nav>
    </mat-list>
  </cdk-virtual-scroll-viewport>

</main>
  <!-- <div class="col-md-3 mx-auto my-5" *ngFor="let a of assignments">

  <mat-card class="card-shiba" >
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{a.nom}}</mat-card-title>
      <mat-card-subtitle>{{a.dateDeRendu}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{a.auteur }} {{a.id_matiere}} {{a.auteur}} {{a.note}} {{a.remarques}}
      </p>
    </mat-card-content>

  </mat-card>
  </div> -->