<main class="container">
  <a routerLink="/add" class="ajouterBtn">
    <button mat-flat-button color="accent">
      Ajouter un assignment
    </button>
  </a>
  <h1>Liste des assignments (scrolling infini)</h1>
  <mat-divider></mat-divider>
  
  <div layout="row">
    
    <!-- <cdk-virtual-scroll-viewport #scroller itemSize="150" class="example-viewport">
      <mat-divider></mat-divider>
      <mat-list *cdkVirtualFor="let a of assignments">
        <nav>
          <a routerLink="/assignment/{{a.id}}">
            <mat-list-item class="example-item">
  
              <div *ngIf="a.rendu; else nonsoumis" appRendu class="card-container">
                <mat-card class="rendu-card">
                  <mat-card-title>Rendu</mat-card-title>
                  <mat-card-content>
                    <h3 mat-card-subtitle>{{a.dateDeRendu | date}}</h3>
                    <mat-list>
                      <mat-list-item>Id matiere : {{a.id_matiere}} </mat-list-item>
                      <mat-list-item>Auteur : {{a.auteur}}</mat-list-item>
                      <mat-list-item>Note : {{a.note}} </mat-list-item>
                      <mat-list-item>Remarques : {{a.remarques}}</mat-list-item>
                      <mat-list-item>Matière : {{a.nom}}</mat-list-item>

                    </mat-list>
                  </mat-card-content>
                </mat-card>
              </div>
              <ng-template #nonsoumis>
                <div appNonRendu class="card-container">
                  <mat-card>
                    <mat-card-title>Non rendu</mat-card-title>
  
                    <mat-card-content>
                      <h3 mat-card-subtitle>{{a.dateDeRendu | date}}</h3>

                      <mat-list>
                        <mat-list-item>Id matiere : {{a.id_matiere}} </mat-list-item>
                        <mat-list-item>Auteur : {{a.auteur}}</mat-list-item>
                        <mat-list-item>Note : {{a.note}} </mat-list-item>
                        <mat-list-item>Remarques : {{a.remarques}}</mat-list-item>
                        <mat-list-item>Matière : {{a.nom}}</mat-list-item>
                      </mat-list>
                    </mat-card-content>
                  </mat-card>
  
                </div>
              </ng-template>
  
            </mat-list-item>
          </a>
        </nav>
      </mat-list>
    </cdk-virtual-scroll-viewport> -->
    <mat-grid-list cols="2" rowHeight="600px">
      <mat-grid-tile>
        <cdk-virtual-scroll-viewport #scrollerrendu itemSize="150" class="example-viewport">
          <mat-divider></mat-divider>
          <mat-list *cdkVirtualFor="let a of assignmentsrendu">
            <nav>
              <a routerLink="/assignment/{{a.id}}">
                <mat-list-item class="example-item">
      
                  <div *ngIf="a.rendu" appRendu class="card-container">
                    <mat-card class="rendu-card">
                      <mat-card-title>Rendu</mat-card-title>
                      <mat-card-content>
                        <h3 mat-card-subtitle>{{a.dateDeRendu | date}}</h3>
                        <mat-list>
                          <mat-list-item>Id matiere : {{a.id_matiere}} </mat-list-item>
                          <mat-list-item>Auteur : {{a.auteur}}</mat-list-item>
                          <mat-list-item>Note : {{a.note}} </mat-list-item>
                          <mat-list-item>Remarques : {{a.remarques}}</mat-list-item>
                          <mat-list-item>Matière : {{a.nom}}</mat-list-item>
    
                        </mat-list>
                      </mat-card-content>
                    </mat-card>
                  </div>
      
                </mat-list-item>
              </a>
            </nav>
          </mat-list>
        </cdk-virtual-scroll-viewport>
      </mat-grid-tile>
      <mat-grid-tile>
        <cdk-virtual-scroll-viewport #scrollernonrendu itemSize="150" class="example-viewport">
          <mat-divider></mat-divider>
          <mat-list *cdkVirtualFor="let a of assignmentsnonrendu">
            <nav>
              <a routerLink="/assignment/{{a.id}}">
                <mat-list-item class="example-item">
      
                  <div *ngIf="a.rendu==false; else nonsoumis" appNonRendu class="card-container">
                    <mat-card class="rendu-card">
                      <mat-card-title>Non Rendu</mat-card-title>
                      <mat-card-content>
                        <h3 mat-card-subtitle>{{a.dateDeRendu | date}}</h3>
                        <mat-list>
                          <mat-list-item>Id matiere : {{a.id_matiere}} </mat-list-item>
                          <mat-list-item>Auteur : {{a.auteur}}</mat-list-item>
                          <mat-list-item>Note : {{a.note}} </mat-list-item>
                          <mat-list-item>Remarques : {{a.remarques}}</mat-list-item>
                          <mat-list-item>Matière : {{a.nom}}</mat-list-item>
    
                        </mat-list>
                      </mat-card-content>
                    </mat-card>
                  </div>
      
                </mat-list-item>
              </a>
            </nav>
          </mat-list>
        </cdk-virtual-scroll-viewport>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
  
</main>
  <!-- <div class="col-md-3 mx-auto my-5" *ngFor="let a of assignments">

  <mat-card class="card-shiba" >
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{a.nom}}</mat-card-title>
      <mat-card-subtitle>{{a.dateDeRendu}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{a.auteur }} {{a.id_matiere}} {{a.auteur}} {{a.note}} {{a.remarques}}
      </p>
    </mat-card-content>

  </mat-card>
  </div> -->