<main class="container">
  <a routerLink="/add" class="ajouterBtn">
    <button mat-flat-button color="accent">
      Ajouter un assignment
    </button>
  </a>
  <h1>Liste des assignments (scrolling infini)</h1>
  <mat-divider></mat-divider>
  
  <div layout="row">
    
    <!-- <cdk-virtual-scroll-viewport #scroller itemSize="150" class="example-viewport">
      <mat-divider></mat-divider>
      <mat-list *cdkVirtualFor="let a of assignments">
        <nav>
          <a routerLink="/assignment/{{a.id}}">
            <mat-list-item class="example-item">
  
              <div *ngIf="a.rendu; else nonsoumis" appRendu class="card-container">
                <mat-card class="rendu-card">
                  <mat-card-title>Rendu</mat-card-title>
                  <mat-card-content>
                    <h3 mat-card-subtitle>{{a.dateDeRendu | date}}</h3>
                    <mat-list>
                      <mat-list-item>Id matiere : {{a.id_matiere}} </mat-list-item>
                      <mat-list-item>Auteur : {{a.auteur}}</mat-list-item>
                      <mat-list-item>Note : {{a.note}} </mat-list-item>
                      <mat-list-item>Remarques : {{a.remarques}}</mat-list-item>
                      <mat-list-item>Matière : {{a.nom}}</mat-list-item>

                    </mat-list>
                  </mat-card-content>
                </mat-card>
              </div>
              <ng-template #nonsoumis>
                <div appNonRendu class="card-container">
                  <mat-card>
                    <mat-card-title>Non rendu</mat-card-title>
  
                    <mat-card-content>
                      <h3 mat-card-subtitle>{{a.dateDeRendu | date}}</h3>

                      <mat-list>
                        <mat-list-item>Id matiere : {{a.id_matiere}} </mat-list-item>
                        <mat-list-item>Auteur : {{a.auteur}}</mat-list-item>
                        <mat-list-item>Note : {{a.note}} </mat-list-item>
                        <mat-list-item>Remarques : {{a.remarques}}</mat-list-item>
                        <mat-list-item>Matière : {{a.nom}}</mat-list-item>
                      </mat-list>
                    </mat-card-content>
                  </mat-card>
  
                </div>
              </ng-template>
  
            </mat-list-item>
          </a>
        </nav>
      </mat-list>
    </cdk-virtual-scroll-viewport> -->
    <mat-grid-list cols="2" rowHeight="600px">
      

      <div class="example-container">
        <mat-grid-tile>
          <cdk-virtual-scroll-viewport #scrollernonrendu itemSize="150" class="example-viewport">
            <mat-divider></mat-divider>
            <div
              cdkDropList
              #nonrendudroplist="cdkDropList"
              [cdkDropListData]="assignmentsnonrendu"
              [cdkDropListConnectedTo]="[rendudroplist]"
              class="example-list"
              id="nonrendulist"

              (cdkDropListDropped)="drop($event)">
              <!-- <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div> -->
              <div *cdkVirtualFor="let a of assignmentsnonrendu" class="example-box" cdkDrag [cdkDragData]="a">
                <nav>
                    <mat-list-item class="example-item">
          
                      <div appNonRendu class="card-container">
                        <mat-card class="rendu-card">
                          <mat-card-title>Devoir de {{a.matiere[0].nom}}</mat-card-title>      
                          <mat-card-header>
                            <div mat-card-avatar style="background-size: cover;background-image: url('{{a.matiere[0].Image}}');"> </div>
                            <mat-card-title>{{a.matiere[0].nom_prof}}</mat-card-title>
                          </mat-card-header>
                          <mat-card-content>
                            <h3 mat-card-subtitle>{{a.dateDeRendu | date}}</h3>
                            <mat-list>
                                <mat-list-item>Nom : {{a.nom}} </mat-list-item>
                              <mat-list-item>Eleve : {{a.auteur}}</mat-list-item>
                        
                              <mat-list-item><a routerLink="/assignment/{{a.id}}">Detail </a></mat-list-item> 
                            </mat-list>
                          </mat-card-content>
                        </mat-card>
                      </div>
          
                    </mat-list-item>
                </nav>
              </div>
            </div>
          </cdk-virtual-scroll-viewport>
        </mat-grid-tile>
      </div>
      <div class="example-container">

        <mat-grid-tile>
          <cdk-virtual-scroll-viewport #scrollerrendu itemSize="150" class="example-viewport">
            <mat-divider></mat-divider>
            <div
              cdkDropList
              #rendudroplist="cdkDropList"
              [cdkDropListData]="assignmentsrendu"
              [cdkDropListConnectedTo]="[nonrendudroplist]"
              class="example-list"
              id="rendulist"
              (cdkDropListDropped)="drop($event)">
              <!-- <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div> -->
              <mat-list class="example-box" *cdkVirtualFor="let a of assignmentsrendu" cdkDrag [cdkDragData]="a">
                <nav>                    
                  <mat-list-item class="example-item">
          
                  <div appNonRendu class="card-container">
                    <mat-card class="rendu-card">
                      <mat-card-title>Devoir de {{a.matiere[0].nom}}</mat-card-title>      
                      <mat-card-header>
                        <div mat-card-avatar style="background-size: cover;background-image: url('{{a.matiere[0].Image}}');"> 
                        </div>
                        <mat-card-title>{{a.matiere[0].nom_prof}}</mat-card-title>
                        <!-- <mat-card-subtitle>Note : {{a.note}}/20</mat-card-subtitle> -->
                      </mat-card-header>
                      <mat-card-content>
                        <h3 mat-card-subtitle>{{a.dateDeRendu | date}}</h3>
                        <mat-list>
                            <mat-list-item>Nom : {{a.nom}} </mat-list-item>
                          <mat-list-item>Eleve : {{a.auteur}}</mat-list-item>
                    
                          <mat-list-item><a routerLink="/assignment/{{a.id}}">Detail </a></mat-list-item> 
                        </mat-list>
                      </mat-card-content>
                    </mat-card>
                  </div>
      
                </mat-list-item>
                </nav>
              </mat-list>
            </div>
          </cdk-virtual-scroll-viewport>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
</main>
  
