<h1 mat-dialog-title>Nouveau note</h1>
    <mat-list >
        <mat-list-item role="listitem">
            Nom: {{data.assigns.nom}}
        </mat-list-item>
        <mat-list-item role="listitem">
            Auteur: {{data.assigns.auteur}}
        </mat-list-item>
      </mat-list>

  <form ngForm  #formDialogue class="form" (submit)="submit(data.assigns); ">
   
    <mat-form-field *ngIf="data.assigns.rendu==false" appearance="fill">
        <mat-label>Nouveau note</mat-label>
        <mat-select [(ngModel)]="note" [ngModelOptions]="{standalone: true}">
            <mat-option required name="note"  value="{{iteration}}" *ngFor="let item of data.tableau;let iteration = index">{{ iteration }}</mat-option>
        </mat-select>
    </mat-form-field>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()" cdkFocusInitial>exit</button>
        <button mat-button type="submit"> Change</button>
    </div>
</form>